.caret {
  background-image: url('../../../images/icons/caret_white.svg');
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0);
  transition: rotate 300ms ease-out;
  display: inline-block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: $header-height-mobile;
  font-size: $size--base;
  z-index: 10000;

  transition: background-color 250ms ease-in-out,background-position 250ms ease-in-out,box-shadow 250ms ease-in-out,padding 250ms ease-in-out;
  background-color: $pf-raspberry;

  &__transparent-start {
    background-color: rgba(153, 48, 80,0);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(35, 47, 74, 0) 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
  }

  &.js-menu-scrolled {
    background-color: $pf-raspberry;
    background-position-y: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
  }

  &--default {
    .menu-item {
      a {
        color: $pf-white;
      }
    }
  }

  &--blog {
    color: $pf-white;
    background-color: $pf-charcoal;

    .logo__wrapper {
      &__text {
        color: $pf-white;
      }
    }

    .menu-item {
      a {
        color: $pf-white;
      }
    }

    @include media-breakpoint('lg') {
      .caret {
        background-image: url('../../../images/icons/caret_white.svg');
      }
    }
  }

  @include media-breakpoint('lg') {
    height: $header-height-desktop;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.125rem;

    @include media-breakpoint('lg') {
      padding: 0 2rem;
    }

    &__nav {
      height: 100%;
      display: flex;
      justify-content: flex-end;

      &__inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
      }
    }
  }

  .nav {

    /*
  * MOBILE STYLING
  */
    @media screen and (max-width: 991px) {
      background-color: $pf-raspberry;
      color: $pf-off-white;
      position: absolute;
      left: 0;
      top: $header-height-mobile - 1;
      width: 100%;
      max-height: 0;
      transition: max-height 1s;
      transition-delay: 0.2s;
      overflow: hidden;
      @include full-bleed;

      &.drop-open {
        height: fit-content;
        max-height: 2000px;
        transition: max-height 1s;
        // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
      }

      .main-navigation {
        margin-top: 2rem;
      }

      .menu-item {
        & .sub-menu-btn {
          display: block;

          &:hover,
          &:focus {
            background: $pf-secondary-raspberry;
          }
        }

        & .sub-menu {
          display: unset;
        }

        a {
          padding: 1em 2em;
          display: inline-block;
          width: 100%;
          color: inherit;

          &:hover,
          &:focus,
          &[aria-expanded='true'] {
            background: $pf-secondary-raspberry;
          }
        }
      }

      .menu-item-has-children {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>a {
          flex: 1 0 80%;
        }

        .sub-menu-btn {
          flex: 1 0 10%;
          height: 64px;
        }

        .sub-menu {
          overflow: hidden;
          max-height: 0;
          transition: max-height 1s;
          visibility: hidden;
          flex-basis: 100%;

          a {

            &:hover,
            &:focus {
              background: $pf-raspberry;
              outline-offset: -0.25rem;
            }
          }
        }

        &.open {
          background: $pf-raspberry;

          .sub-menu {
            height: fit-content;
            max-height: 500px;
            visibility: visible;

            a {
              padding-left: 4rem;
            }
          }
        }
      }
    }

    /*
  * DESKTOP STYLING
  */
    @include media-breakpoint('lg') {
      display: none;
      height: 100%;
      font-weight: 500;
      text-transform: uppercase;

      ul.main-navigation {
        height: 100%;
        display: flex;
        align-items: center;

        &>.menu-item {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          position: relative;

          &:hover,
          &:focus-within {
            .caret {
              background-image: url('../../../images/icons/caret_white.svg');
            }
          }
        }

        &>li>a {
          font-weight: 500;
        }
      }

      @include media-breakpoint('lg') {
        display: block;
      }

      // Has submenu
      .menu-item-has-children {
        width: fit-content;
        
        &::after {
          position: absolute;
          z-index: 921;
          content: "";
          width: 0;
          height: 0;
          border: 10px solid rgba(0,0,0,0);
          border-bottom-color: $pf-white;
          bottom: 0;
          left: 50%;
          margin-left: -10px;
          visibility: hidden;
          opacity: 0;
          transition: opacity 300ms linear;
        }

        .sub-menu {
          display: block;
          visibility: hidden;
          background-color: $pf-white;
          position: absolute;
          left: 0;
          top: 100%;
          max-height: 0;
          width: 100vw;
          margin-left: calc((100vw - 100%) / -2);
          padding: 2rem 10rem;
          opacity: 0;
          transition: opacity 300ms linear;

          // Add a ::before that is full window width and height to allow for a full bleed background
          &::before {
            content: '';
            position: absolute;
            left: -4000px;
            top: 0;
            width: 10000px;
            height: 100%;
            background-color: $pf-white;
            z-index: -1;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

          }

          li {
            &:hover,
            &:focus {
              a {
                text-decoration: underline;
              }
            }

            a {
              display: inline-block;
              padding: 1em 2em;
              width: 100%;
              color: $pf-charcoal;
              width: fit-content;
            }
          }
        }

        &.open,
        &:hover {
          &::after {
            visibility: visible;
            opacity: 1;
          }

          .caret {
            pointer-events: none;
            transform: rotate(180deg);
            transition: rotate 300ms ease-out;
            background-image: url('../../../images/icons/caret_white.svg');
          }

          .sub-menu {
            z-index: -1;
            visibility: visible;
            opacity: 1;
            max-height: 2000px;
          }
        }

        &:hover {
          .sub-menu-btn {
            pointer-events: none;
          }
        }
      }
    }

    /*
  * CHEVRON BUTTON
  */
    .sub-menu-btn {
      display: flex;
      align-items: center;
      height: 100%;

      @include media-breakpoint('lg') {
        position: absolute;
        right: -10px;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out;

        &:focus-within {
          transform: translateY(0);
        }
      }

      &:disabled {
        cursor: none;
        pointer-events: none;
      }

      &[aria-expanded='true'] {
        .caret {
          transform: rotate(180deg);
          transition: rotate 300ms ease-out;
        }
      }

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: $pf-raspberry;
      }

    }
  }

  /*
  * HAMBURGER MENU
  */
  .hamb {
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;

    @include media-breakpoint('lg') {
      display: none;
    }

    &.hamb-open {
      .hamb-line {
        background: transparent;
      }

      .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
      }

      .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
      }
    }

    .hamb-line {
      background: $pf-white;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;

      &::before,
      &::after {
        background: $pf-white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &::before {
        top: 8px;
      }

      &::after {
        top: -8px;
      }
    }

    &.header--blog {
      .hamb-line {
        background: $pf-white;

        &::before,
        &::after {
          background: $pf-white;
        }
      }

      &.hamb-open {
        .hamb-line {
          background: transparent;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    @include media-breakpoint('lg') {
      margin-left: 1rem;
      height: 100%;
    }
  }
}