header {
    color: get-color('off-white');
    background-color: get-color('charcoal');
    position: sticky;
    top: 0;

    nav {
        ul.main-navigation {
            display: flex;
            align-items: center;
            gap: 1rem;

            .menu-item {
                display: flex;
                align-items: center;
            }
        }
    }

    // Has submenu
    .menu-item-has-children {
        position: relative;
        width: fit-content;

        .sub-menu {
            display: none;
        }

        &:hover,
        &.open {
            .sub-menu {
                display: block;
            }
        }
    }

    .caret {
        // position: absolute;
        // right: 0;
        // top: 0;
        background-image: url('../../../images/icons/caret.svg');
        height: 4rem;
        width: 4rem;
        background-repeat: no-repeat;
        background-position: center;
        // background-color: get-color('dark-red');
        transform: rotate(0);
        transition: rotate 300ms ease-out;
      
        &[aria-expanded="true"] {
          transform: rotate(180deg);
          transition: rotate 300ms ease-out;
          background-color: get-color('red');
        }
      
        &:hover {
          cursor: pointer;
          background-color: get-color('red');
        }
      }
} 
