// Header specific variables
$header-height-mobile: 78px;
$header-height-desktop: 60px;

.caret {
  background-image: url('../../../images/icons/caret_white.svg');
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0);
  transition: rotate 300ms ease-out;
  display: inline-block;

  @include media-breakpoint('lg') {
    background-image: url('../../../images/icons/caret_charcoal.svg');
  }
}

.header {
  &--default {
    color: $pf-charcoal;
    background-color: $pf-white;

    .menu-item {
      a {
        color: inherit;
      }
    }
  }

  &--blog {
    color: $pf-white;
    background-color: $pf-charcoal;

    .logo__wrapper {
      &__text {
        color: $pf-white;
      }
    }

    .menu-item {
      a {
        color: $pf-white;
      }
    }

    @include media-breakpoint('lg') {
      .caret {
        background-image: url('../../../images/icons/caret_white.svg');
      }
    }
  }

  &--front-page {
    // @extend .header--default;
    box-shadow: none;
    position: fixed;
    left: 0;

    .header__wrapper {
      padding-right: 0;

      &__nav {
        background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.00) 100%);

        @include media-breakpoint('lg') {
          padding-right: 2rem;
        }
      }
    }

    .menu-item {
      a {
        color: $pf-white;
      }
    }

    .caret {
      background-image: url('../../../images/icons/caret_white.svg');
    }
  }

  position: sticky;
  top: 0;
  height: $header-height-mobile;
  font-size: $size--base;
  z-index: 10000;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

  @include media-breakpoint('lg') {
    height: $header-height-desktop;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.125rem;

    @include media-breakpoint('lg') {
      padding: 0 2rem;
    }

    &__nav {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .nav {

    /*
  * MOBILE STYLING
  */
    @media screen and (max-width: 992px) {
      background-color: $pf-raspberry;
      color: $pf-off-white;
      position: absolute;
      left: 0;
      top: $header-height-mobile;
      width: 100%;
      max-height: 0;
      transition: max-height 1s;
      overflow: hidden;
      @include full-bleed;

      &.drop-open {
        height: fit-content;
        max-height: 2000px;
        transition: max-height 1s;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
      }

      .main-navigation {
        margin-top: 2rem;
      }

      .menu-item {
        & .sub-menu-btn {
          display: block;

          &:hover,
          &:focus {
            background: $pf-secondary-raspberry;
          }
        }

        & .sub-menu {
          display: unset;
        }

        a {
          padding: 1em 2em;
          display: inline-block;
          width: 100%;
          color: inherit;

          &:hover,
          &:focus,
          &[aria-expanded='true'] {
            background: $pf-secondary-raspberry;
          }
        }
      }

      .menu-item-has-children {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &>a {
          flex: 1 0 80%;
        }

        .sub-menu-btn {
          flex: 1 0 10%;
          height: 64px;
        }

        .sub-menu {
          overflow: hidden;
          max-height: 0;
          transition: max-height 1s;
          visibility: hidden;
          flex-basis: 100%;

          a {

            &:hover,
            &:focus {
              background: $pf-raspberry;
              outline-offset: -0.25rem;
            }
          }
        }

        &.open {
          background: $pf-raspberry;

          .sub-menu {
            height: fit-content;
            max-height: 500px;
            visibility: visible;

            a {
              padding-left: 4rem;
            }
          }
        }
      }
    }

    /*
  * DESKTOP STYLING
  */
    @include media-breakpoint('lg') {
      display: none;
      height: 100%;
      font-weight: 500;
      text-transform: uppercase;

      ul.main-navigation {
        height: 100%;
        display: flex;
        align-items: center;

        &>.menu-item {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;

          &:hover,
          &:focus-within {
            background-color: $pf-raspberry;

            a {
              color: $pf-white;
            }

            .caret {
              background-image: url('../../../images/icons/caret_white.svg');
            }
          }
        }

        &>li>a {
          font-weight: 500;
        }
      }

      @include media-breakpoint('lg') {
        display: block;
      }

      // Has submenu
      .menu-item-has-children {
        position: relative;
        width: fit-content;

        .sub-menu {
          display: block;
          visibility: hidden;
          background-color: $pf-raspberry;
          position: absolute;
          left: 50%;
          margin-left: -150px; // Has to be half the sub-menu width to centre.
          top: 100%;
          max-height: 0;
          width: 300px;

          li {

            &:hover,
            &:focus {
              background: $pf-secondary-raspberry;
              color: $pf-white;
            }

            a {
              display: inline-block;
              padding: 1em 2em;
              width: 100%;
            }
          }
        }

        &.open,
        &:hover {
          color: $pf-off-white;
          background: $pf-raspberry;

          .caret {
            pointer-events: none;
            transform: rotate(180deg);
            transition: rotate 300ms ease-out;
            background-image: url('../../../images/icons/caret_white.svg');
          }

          .sub-menu {
            transition: all 400ms ease;
            visibility: visible;
            max-height: 2000px;
          }
        }

        &:hover {
          .sub-menu-btn {
            pointer-events: none;
          }
        }
      }
    }

    /*
  * CHEVRON BUTTON
  */
    .sub-menu-btn {
      display: flex;
      align-items: center;
      height: 100%;

      @include media-breakpoint('lg') {
        margin-left: 0.25em;
      }

      &:disabled {
        cursor: none;
        pointer-events: none;
      }

      &[aria-expanded='true'] {
        .caret {
          transform: rotate(180deg);
          transition: rotate 300ms ease-out;
        }
      }

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: $pf-raspberry;
      }

    }
  }

  /*
  * HAMBURGER MENU
  */
  .hamb {
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;

    @include media-breakpoint('lg') {
      display: none;
    }

    &.hamb-open {
      .hamb-line {
        background: transparent;
      }

      .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
      }

      .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
      }
    }

    .hamb-line {
      background: $pf-charcoal;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;

      &::before,
      &::after {
        background: $pf-charcoal;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &::before {
        top: 8px;
      }

      &::after {
        top: -8px;
      }
    }

    &.header--blog {
      .hamb-line {
        background: $pf-white;

        &::before,
        &::after {
          background: $pf-white;
        }
      }

      &.hamb-open {
        .hamb-line {
          background: transparent;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    @include media-breakpoint('lg') {
      margin-left: 1rem;
    }

    .button--donate {
      margin-right: 0.5rem;
    }
  }
}