main {
    margin-top: $header-height-mobile - 1;

    @include media-breakpoint('lg') {
        margin-top: $header-height-desktop - 1;
    }
}

.e-content {
    & > p:first-of-type {
       padding-top: $spacing--xl;
    }
}