.football-team {
  &__header {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__featured-image {
    max-height: 70vh;
    object-fit: cover;

    @include media-breakpoint('lg') {
      max-height: 50vh;
    }
  }

  &__logo {
    &__img {
      position: relative;
      z-index: 1;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 160px;
      object-fit: contain;

      @include media-breakpoint('sm') {
        width: 240px;
      }

      @include media-breakpoint('md') {
        width: 280px;
      }

      @include media-breakpoint('xl') {
        width: 340px;
      }
    }
  }

  &__intro {
    position: relative;
    margin-top: -5rem;
    text-align: center;

    @include media-breakpoint('sm') {
      margin-top: -7rem;
    }

    @include media-breakpoint('md') {
      margin-top: -9rem;
    }

    @include media-breakpoint('xl') {
      margin-top: -11rem;
    }
  }

  &__results {
    &__heading {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 1.8px;
      text-align: center;
    }
  }

  &__latest {
    text-transform: uppercase;

    p {
      font-weight: 700;
    }

    .match-result {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    &__content {
      @include media-breakpoint('lg') {
        max-width: 70%;
      }
    }

    &__last {
      text-align: center;
      .score-top {
        margin-bottom: $spacing--md;
        letter-spacing: 1.44px;
      }

      .team {
        display: none;
      }

      @include media-breakpoint('sm') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        flex-direction: row;

        .score-top {
          display: none;
        }

        .team {
          display: block;
        }
      }

      @include media-breakpoint('md') {
        gap: 6rem;
      }

      @include media-breakpoint('lg') {
        margin: 0 auto;
        max-width: 70%;
      }
    }

    &__score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;

      .team {
        margin-bottom: $spacing--md;
      }

      .h3 {
        text-align: center;
      }
    }

    &__date {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .vs {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 40px;
  }

  .team {
    padding: 0.5rem;
  }

  .match-result {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $pf-off-white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;

    &--w {
      color: $pf-dark-green;
    }
    &--l {
      color: $pf-raspberry;
    }
    &--d {
      color: $pf-charcoal;
    }
  }

  &__matches {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media-breakpoint('lg') {
        max-width: 70%;
      }
    }

    &__results {
      .loaded {
        opacity: 0;
      }

      .match-date {
        margin-bottom: 1rem;

        @include media-breakpoint('sm') {
          margin-bottom: 0;
        }
      }
    }

    &__result {
      padding-bottom: $spacing--lg;
      margin-top: $spacing--lg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include media-breakpoint('md') {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
        gap: 1rem;
        justify-items: center;
      }

      .score {
        font-size: 24px;
        letter-spacing: 1.44px;
        flex-shrink: 0;

        @include media-breakpoint('sm') {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
      }
    }
  }

  .button {
    margin: 0 auto;
  }

  &__players {
    h2 {
      text-align: center;
    }

    &__header {
      text-transform: uppercase;
      background-color: $pf-off-white;
      width: fit-content;
      padding: 1rem 1rem 1rem 6rem;
      border-radius: 0 4px 4px 0;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-bottom: $spacing--md;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 100%;
        background-image: url('../../../images/icons/colour-chevron.svg');
        background-size: cover;
      }

      .chevron {
        position: relative;

        svg {
          position: absolute;
          left: 0;
        }

        svg:nth-of-type(1) {
          z-index: 1;
        }

        svg:nth-of-type(2) {
          left: 1rem;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $spacing--xl;

      .football-team__players__position {
        position: relative;
      }

      .football-team__players__header {
        align-self: flex-start;
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: ($header-height-mobile + 40px);
        z-index: 1;
        transition: left 0.3s ease;

        @include media-breakpoint('lg') {
          top: ($header-height-desktop + 40px);
        }
      }
    }

    &__list {
      display: grid;
      gap: 2rem;

      @include media-breakpoint('sm') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4rem;
      }

      @include media-breakpoint('lg') {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
      }
    }
  }

  &__player {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      width: 225px;
      height: 225px;
      border-radius: 50%;
      margin-bottom: $spacing--sm;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      &.placeholder {
        background-color: $pf-grey;
      }
    }

    &__name {
      text-transform: uppercase;
      font-weight: 700;
      font-size: $size--lg;
      text-align: center;
    }
  }
}
