.wpforms-container {
    .wpforms-form {
        display: flex;
        flex-direction: column;
    }

    .wpforms-title {
        color: #000 !important;
        font-size: 28px !important;
        font-family: $font--tertiary !important;
        font-style: normal !important;
        font-weight: 300 !important;

        @include media-breakpoint('lg') {
            line-height: 90px !important;
        }
    }

    .wpforms-head-container {
        padding-bottom: 0 !important;
        height: 65px !important;
    }

    .wpforms-container .wpforms-field {
        padding: 0 !important;
    }

    .wpforms-field-container {
        input {
            max-width: 100% !important;
            border-radius: 4px !important;
            border: none !important;
        }
    }

    .wpforms-submit-container {
        padding-top: 0 !important;
        margin-top: 0 !important;
        align-self: flex-end !important;
    }

    .wpforms-submit {
        @extend .button;
        @extend .button--primary;
        @extend .button--raspberry;
        background: $pf-raspberry !important;
        border-radius: 100px !important;
        border: 1px solid transparent !important;

        &:hover,
        &:focus {
            border-color: $pf-raspberry !important;
            background: $pf-white !important;
            color: $pf-raspberry !important;
        }
    }

    input[id*="wpform"] {
        background: transparent !important;
        border-bottom: 1px solid $pf-charcoal !important;
        border-radius: 0 !important;
        color: $pf-charcoal !important;
        padding-left: 0 !important;

        &::placeholder {
            color: $pf-charcoal !important;
            opacity: 1 !important;
        }

        &:focus {
            box-shadow: none !important;
        }
    }
}