$pf-base-size: 1rem;

/**********************
 Container sizes
***********************/
$col--sm: 540px; // (max-width: 540px)
$col--md: 720px; // (max-width: 720px)
$col--lg: 960px; // (max-width: 960px)
$col--xl: 1140px; // (max-width: 1140px)

/**********************
 Colours
***********************/

// Brand colours
$pf-off-white: #f8faf8;
$pf-charcoal: #262626;
$pf-white: #fff;
$pf-raspberry: #993050;
$pf-secondary-raspberry: #751E39;
$pf-yellow: #FAB200;
$pf-yellow--alt: #E0A000;
$pf-shadow: #464B44;
$pf-light-green: #60CE71;
$pf-dark-green: #2D6E51;
$pf-grey: #D9D9D9;
$pf-dark-raspberry: #77203A;



// Text colours
$body-text-color: $pf-charcoal;

/**********************
 Breakpoints
***********************/

$breakpoints: (
  sm: (breakpoint: 576px,
    max-width: 540px,
  ),
  md: (breakpoint: 768px,
    max-width: 720px,
  ),
  lg: (breakpoint: 992px,
    max-width: 960px,
  ),
  xl: (breakpoint: 1200px,
    max-width: 1140px,
  ),
  xxl: (breakpoint: 1650px,
  ),
);

$size--xs: $pf-base-size * 0.6875;
//11px
$size--sm: $pf-base-size * 0.8125;
//13px
$size--base: $pf-base-size;
//16px
$size--md: $pf-base-size * 1.125;
//18px
$size--lg: $pf-base-size * 1.5;
//24px
$size--xl: $pf-base-size * 1.875;
// 30px
$size--xxl: $pf-base-size * 3.125;
//50px
$size--giant: $pf-base-size * 4.6875;


/**********************
 Spacing
***********************/

$spacing--xs: $pf-base-size * 1;
$spacing--sm: $pf-base-size * 1.5;
$spacing--md: $pf-base-size * 2;
$spacing--lg: $pf-base-size * 3;
$spacing--xl: $pf-base-size * 4;
$spacing--xxl: $pf-base-size * 5;
$spacing--header: $pf-base-size * 6;
$spacing--header-lg: $pf-base-size * 8;

/**********************
Fonts
***********************/

$font--primary: 'Jost', 'Avenir', 'Futura', 'Century Gothic', Helvetica, Arial, sans-serif;
$font--secondary: 'Katibeh', 'Unna', 'Big Caslon', Georgia, serif;
$font--tertiary: 'Montserrat', Helvetica, Arial, sans-serif;
$font--fun: 'Knewave', Helvetica, Arial, sans-serif;


/**********************
Header
***********************/
$header-height-mobile: 70px;
$header-height-desktop: 70px;