.button {
    border-radius: 100px;
    text-align: center;
    font-family: get-utility-value('font', 'title');
    line-height: 22px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding: toRem(8) toRem(20);
    font-weight: bold;

    @include media-query('lg') {
        padding: toRem(19) toRem(20);
    }

    &--primary {
        background-color: get-color('red');
        color: get-color('white');
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:focus {
            background-color: get-color('dark-red');
        }
    }

    &--donate {
        background-color: get-color('white');
        color: get-color('charcoal');
        transition: background-color 0.2s ease-in-out;
   
        &:hover,
        &:focus {
            background-color: get-color('dark-red');
        }
    }
}

