.button {
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  // padding: rem(8) rem(20);
  // font-weight: bold;
  display: inline-block;
  transition: color 0.2s ease-in-out;
  min-width: fit-content;
  height: 2.5rem;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: rem(10) rem(25);

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--primary {
    border-radius: 100px;
  }

  &--secondary {
    border-radius: 8px;
  }

  &--red {
    background-color: $pf-red;
    color: $pf-white;

    &:hover,
    &:focus {
      background-color: $pf-dark-red;
    }
  }

  &--black {
    background-color: $pf-charcoal;
    color: $pf-white;

    &:hover,
    &:focus {
      background-color: $pf-charcoal; // TODO: Add this color to the color palette or some other on hover style
    }
  }

  &--white {
    background-color: $pf-white;
    color: $pf-charcoal;

    &:hover,
    &:focus {
      background-color: $pf-charcoal;
      color: $pf-white;
      border-color: $pf-white;
    }
  }

  &--donate {
    padding: rem(10) rem(25);
    border: 1px solid $pf-white;
    border-radius: 100px;

    &:hover {
      border: 1px solid $pf-dark-red;
      background-color: $pf-white;
      color: $pf-dark-red;
    }
  }
}
