.block-spacing {
    &--top {
        &.size--xs {
            margin-top: $spacing--xs;
        }
        &.size--sm {
            margin-top: $spacing--sm;
        }
        &.size--md {
            margin-top: $spacing--md;
        }
        &.size--lg {
            margin-top: $spacing--lg;
        }
        &.size--xl {
            margin-top: $spacing--xl;
        }
    }
    &--bottom {
        &.size--xs {
            margin-bottom: $spacing--xs;
        }
        &.size--sm {
            margin-bottom: $spacing--sm;
        }
        &.size--md {
            margin-bottom: $spacing--md;
        }
        &.size--lg {
            margin-bottom: $spacing--lg;
        }
        &.size--xl {
            margin-bottom: $spacing--xl;
        }
    }
    &--both {
        &.size--xs {
            margin-top: $spacing--xs;
            margin-bottom: $spacing--xs;
        }
        &.size--sm {
            margin-top: $spacing--sm;
            margin-bottom: $spacing--sm;
        }
        &.size--md {
            margin-top: $spacing--md;
            margin-bottom: $spacing--md;
        }
        &.size--lg {
            margin-top: $spacing--lg;
            margin-bottom: $spacing--lg;
        }
        &.size--xl {
            margin-top: $spacing--xl;
            margin-bottom: $spacing--xl;
        }
    }
}