$margin: rem(66);
.block-spacing {
    &--top {
        margin-top: $margin;
    }
    &--bottom {
        margin-bottom: $margin;
    }
    &--both {
        margin-top: $margin;
        margin-bottom: $margin;
    }
}