.block-spacing {
    &--top {
        &.spacing--xs {
            margin-top: $spacing--xs;
        }
        &.spacing--sm {
            margin-top: $spacing--sm;
        }
        &.spacing--md {
            margin-top: $spacing--md;
        }
        &.spacing--lg {
            margin-top: $spacing--lg;
        }
        &.spacing--xl {
            margin-top: $spacing--xl;
        }
    }
    &--bottom {
        &.spacing--xs {
            margin-bottom: $spacing--xs;
        }
        &.spacing--sm {
            margin-bottom: $spacing--sm;
        }
        &.spacing--md {
            margin-bottom: $spacing--md;
        }
        &.spacing--lg {
            margin-bottom: $spacing--lg;
        }
        &.spacing--xl {
            margin-bottom: $spacing--xl;
        }
    }
    &--both {
        &.spacing--xs {
            margin-top: $spacing--xs;
            margin-bottom: $spacing--xs;
        }
        &.spacing--sm {
            margin-top: $spacing--sm;
            margin-bottom: $spacing--sm;
        }
        &.spacing--md {
            margin-top: $spacing--md;
            margin-bottom: $spacing--md;
        }
        &.spacing--lg {
            margin-top: $spacing--lg;
            margin-bottom: $spacing--lg;
        }
        &.spacing--xl {
            margin-top: $spacing--xl;
            margin-bottom: $spacing--xl;
        }
    }
}