.block-padding {
    padding-top: $spacing--lg;
    padding-bottom: $spacing--lg;

    @include media-breakpoint('md') {
        padding-top: $spacing--xl;
        padding-bottom: $spacing--xl;
    }
}