.red {
    background-color: $pf-red;
    color: $pf-white;
}

.dark-red {
    background-color: $pf-dark-red;
    color: $pf-white;
}

.light-red {
    background-color: $pf-light-red;
    color: $pf-white;
}

.off-white {
    background-color: $pf-off-white;
    color: $pf-charcoal;
}

.white {
    background-color: $pf-white;
    color: $pf-charcoal;
}

.charcoal {
    background-color: $pf-charcoal;
    color: $pf-white;
}
