/**
 * Background Colours
 * -----------------------------------------------------------------------------
 */

.bg--red {
    background-color: $pf-raspberry;
    color: $pf-white;
}

.bg--dark-red {
    background-color: $pf-raspberry;
    color: $pf-white;
}

.bg--light-red {
    background-color: $pf-raspberry;
    color: $pf-white;
}

.bg--off-white {
    background-color: $pf-off-white;
    color: $pf-charcoal;
}

.bg--white {
    background-color: $pf-white;
    color: $pf-charcoal;
}

.bg--charcoal {
    background-color: $pf-charcoal;
    color: $pf-white;
}

.bg--yellow {
    background-color: $pf-yellow;
    color: $pf-charcoal;
}

.bg--raspberry {
    background-color: $pf-raspberry;
    color: $pf-white;
}

.bg--dark-green {
    background-color: $pf-dark-green;
    color: $pf-white;
}

/**
 * Text Colours
 * -----------------------------------------------------------------------------
 */
.red {
    color: $pf-raspberry;
}

.dark-red {
    color: $pf-raspberry;
}

.light-red {
    color: $pf-raspberry;
}

.off-white {
    color: $pf-off-white;
}

.white {
    color: $pf-white;
}

.charcoal {
    color: $pf-charcoal;
}