.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 $size--md;
  box-sizing: border-box;

  @include media-breakpoint('sm') {
    max-width: $col--sm;
  }

  @include media-breakpoint('md') {
    max-width: $col--md;
  }

  @include media-breakpoint('lg') {
    max-width: $col--lg;
  }

  @include media-breakpoint('xl') {
    max-width: $col--xl;
  }
}
