.splitter {
    > :last-child {
        margin-top: rem(500);
    }

    @include media-breakpoint('md') {
        display: flex;

        >* {
            flex-grow: 1;
        }

        > :last-child {
            margin-top: 0;
            margin-left: rem(500);
            min-width: 22rem;
        }
    }
}