/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
  * SIZE SCALE
  * This is a Major Third scale that powers all the utilities that
  * it is relevant for (font-size, margin, padding). All items are
  * calcuated off the base size, so change that and cascade across
  * your whole project.
  */
$gorko-size-scale: (
    'xs': $gorko-base-size * 0.6875,    //11
    'sm': $gorko-base-size * 0.8125,    //13
    'base': $gorko-base-size,           //16
    'md': $gorko-base-size * 1.125,     //18
    'lg': $gorko-base-size * 1.5,       //24
    'xl': $gorko-base-size * 1.875      //30
);

/**
  * COLORS
  * Colors are shared between backgrounds and text by default. 
  * You can also use them to power borders, fills or shadows, for example.
  */
$gorko-colors: (
    'charcoal': #262626,
    'off-white': #F8FAF8,
    'white': #FFF,
    'red' : #A43939,
    'dark-red': #802727,
    'light-red': #BD4C4C
);

/**
  * CORE CONFIG
  * This powers everything from utility class generation to breakpoints
  * to enabling/disabling pre-built components/utilities.
  */
$gorko-config: (
    'bg': ('items': $gorko-colors,
        'output': 'standard',
        'property': 'background'
    ),
    'color': ('items': $gorko-colors,
        'output': 'standard',
        'property': 'color'
    ),
    'font': ('items': ('base': '"Barlow", Helvetica, Arial, sans-serif',
        'title': '"Barlow Condensed", Helvetica, Arial, sans-serif'
        ),
        'output': 'standard',
        'property': 'font-family'
    ),
    'gap-top': ('items': $gorko-size-scale,
        'output': 'standard',
        'property': 'margin-top'
    ),
    'pad-top': ('items': $gorko-size-scale,
        'output': 'standard',
        'property': 'padding-top'
    ),
    'text': ('items': $gorko-size-scale,
        'output': 'responsive',
        'property': 'font-size'
    ),
    'weight': ('items': ('medium': '500',
            'bold': '700'
        ),
        'output': 'standard',
        'property': 'font-weight'
    ),
    'breakpoints': (
        'xxs': '(min-width: 0px)',
        'xs': '(min-width: 375px)',
        'xs-sm': '(min-width: 400px)',
        'sm': '(min-width: 576px)',
        'md': '(min-width: 768px)',
        'lg': '(min-width: 992px)',
        'lg-tablet': '(min-width: 1024px)',
        'xl': '(min-width: 1200px)',
        'xl-2': '(min-width: 1300px)',
        'xl-3': '(min-width: 1400px)',
        'xl-4': '(min-width: 1500px)',
    )
);












