// Primary font - Jost (weights 0 - 800)
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Secondary font - Katibeh
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

// Tertiary font - Knewave
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

p,
li,
a {
  font-family: $font--primary;
  font-size: $size--md;
  font-weight: 300;
  line-height: $spacing--md;
}

.text__standfirst {
  li, p, a {
    font-family: $font--primary;
    font-size: $size--lg;
    font-weight: 400;
    line-height: $spacing--md;
    padding-bottom: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--primary;
  text-transform: uppercase;
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font--primary;
}

h2 {
  letter-spacing: 2px;
}

.giant-h1 {
  font-family: $font--primary;
  font-weight: 600;
  font-size: $size--xxl;
  line-height: 1.2;

  @include media-breakpoint('lg') {
    font-size: $size--giant;
    line-height: 1.2;
  }
}

.h1,
h1:not([class]),
.heading__h1 {
  font-size: $size--xxl;
}

.h2,
h2:not([class]),
.heading__h2 {
  font-size: $size--xl;
}

.h3,
h3:not([class]),
.heading__h3 {
  font-size: $size--lg;
}

.h4,
h4:not([class]),
.heading__h4 {
  font-size: $size--md;
}

.h5,
h5:not([class]),
.heading__h5 {
  font-size: $size--base;
}

.h6,
h6:not([class]),
.heading__h6 {
  font-size: $size--sm;
}

a {
  color: $pf-raspberry;
  text-decoration: underline;
}

ul:not(.acf-radio-list):not(.acf-tab-group) {
  li:not([class]) {
    list-style: none;
  }

  li:not([class]):not(.editor-styles-wrapper):before {
    content: "·";
    font-size: 30px;
    vertical-align: middle;
    line-height: 20px;
    padding-right: 0.5rem;
  }
}

ol {
  margin-left: 1rem;

  li {
    list-style-type: decimal;

    li {
      margin-left: 1rem;
    }
  }
}

.button {
  font-size: rem(18);
  letter-spacing: 2px;

  @include media-breakpoint('lg') {
    font-size: rem(22);
  }
}

.nav {
  ul {
    li {
      a {
        font-size: $size--base;
        text-decoration: none;
      }
    }
  }
}

.quote {
  &__short {
    font-size: $size--lg;
    font-weight: 600;
    line-height: $spacing--md;
    text-transform: uppercase;
    width: 40%;
    margin: auto;
    margin-top: 4rem;

    &::before {
      content: "“";
      font-size: 100px;
      position: absolute;
      left: 17rem;
      color: $pf-raspberry;
    }

    &::after {
      content: "”";
      font-size: 100px;
      position: absolute;
      right: 17rem;
      color: $pf-raspberry;
    }
  }

  &__long {
    font-size: $size--lg;
    font-weight: 400;
    line-height: $spacing--md;
    width: 40%;
    margin: auto;
    margin-top: 4rem;

    &::before {
      content: "“";
      font-size: 100px;
      position: absolute;
      left: 17rem;
      color: $pf-raspberry;
    }

    &::after {
      content: "”";
      font-size: 100px;
      position: absolute;
      right: 17rem;
      color: $pf-raspberry;
    }
  }

  &__author {
    font-size: $size--lg;
    font-weight: 400;
    line-height: $spacing--md;
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    color: $pf-raspberry;
  }
}



@include media-breakpoint('lg') {
  .nav {
    font-size: $size--md;

    .menu-item:hover {
      a {
        color: $pf-white;
      }
    }

    .sub-menu {
      font-size: $size--md;
    }
  }
}
