@import 'variables';
@import 'reset';

// Functions
@import 'functions/map-deep-get';
@import 'functions/rem';

// Mixins
@import 'mixins/mixin-columns';
@import 'mixins/mixin-container';
@import 'mixins/mixin-full-bleed';
@import 'mixins/mixin-media-queries';
@import 'mixins/mixin-columns';

// Utilities
@import 'utilities/container';
@import 'utilities/full-bleed';
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/block-padding';
@import 'utilities/colours';
@import 'utilities/overlay';
@import 'utilities/text-alignment';


@import 'typography';

// Sections
@import 'sections/accessible-header';
@import 'sections/footer';
@import 'sections/wpforms';
@import 'sections/impact-word';
@import 'sections/football-team';
@import 'sections/error';
@import 'sections/layout';

// Partials
@import 'partials/button';
@import 'partials/wrapper';
@import 'partials/logo';
@import 'partials/card';
@import 'partials/title';
@import 'partials/info-banner';

// Blocks
@import 'blocks/button-block';
@import 'blocks/cta-banner';
@import 'blocks/hero-fp';
@import 'blocks/hero';
@import 'blocks/carousel';
@import 'blocks/featured-posts';
@import 'blocks/two-column-content';
@import 'blocks/custom-grid';
@import 'blocks/form';
@import 'blocks/partners';
@import 'blocks/stacked-media';
@import 'blocks/donate';
@import 'blocks/downloads';
@import 'blocks/blog-hero';
@import 'blocks/results';
@import 'blocks/people';
@import 'blocks/full-image';
@import 'blocks/author';

body {
    @extend .container;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: $pf-white;
}

#app {
    min-height: 100vh;

    footer {
        position: sticky;
        top: 100vh;
    }
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}