@import 'config';
@import 'variables';
@import '~gorko/gorko.scss';
@import 'reset';
@import 'typography';

//Utilities
@import 'utilities/container';
@import 'utilities/full-bleed';

body {
    @extend .container;
    line-height: 1.5;
    overflow-x: hidden;
    padding-bottom: get-size('lg');
    @include apply-utility('weight', 'medium');
    background-color: $off-white;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}

.test {
    background-color: pink;
}