@import 'variables';
@import 'reset';

// Functions
@import 'functions/map-deep-get';
@import 'functions/rem';

// Mixins
@import 'mixins/mixin-columns';
@import 'mixins/mixin-container';
@import 'mixins/mixin-full-bleed';
@import 'mixins/mixin-media-queries';

// Utilities
@import 'utilities/container';
@import 'utilities/full-bleed';
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/block-padding';
@import 'utilities/colours';

@import 'typography';

// Sections
// @import 'sections/header';
@import 'sections/accessible-header';

// Partials
@import 'partials/button';
@import 'partials/wrapper';

// Blocks
@import 'blocks/button-block';
@import 'blocks/cta-banner';

body {
    @extend .container;
    line-height: 1.5;
    overflow-x: hidden;
    padding-bottom: $size--lg;
    background-color: $pf-off-white;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

:focus {
    outline: 2px dotted;
    outline-offset: 0.25rem;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}