.socials-tab {
  position: fixed;
  z-index: 999;
  top: 90%;
  transform: translateY(-90%);
  left:-2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: left 0.3s ease-in-out; // Add this line

  &:hover,
  &:active {
    left: 0;

    .socials-tab__socials {
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__text {
    position: relative;
    top: 10rem;
    left: -1px;
    background-color: $pf-yellow;
    padding: 0.5rem;
    color: $pf-charcoal;
    
    font-weight: 400;

    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    width: fit-content;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    box-shadow: -14px 0 17px rgba(0, 0, 0, 0.2);    
  }

  &__socials {
    width: 2.5rem;
    background-color: $pf-yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    transition: box-shadow 0.3s ease-in-out;

    a {
      color: $pf-charcoal;
      padding: 0.5rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
