.timeline__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__year {
        color: $pf-raspberry;
       @extend .h5;
    }

    &__title {
        color: $pf-charcoal;
        @extend .h3;
        margin-bottom: 1rem;
    }

    &__text {
        color: $pf-charcoal;
    }
}