.blog-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  padding-top: $spacing--header;

  &.base {
    overflow: hidden;

    .blog-hero__wrapper {
      width: 80%;
    }
  }

  @include media-breakpoint('lg') {
    display: flex;
    align-items: center;
  }

  &__title {
    padding-bottom: $spacing--md;

    h1 {
      font-style: normal;
      text-transform: none;
      word-wrap: break-word;
    }
  }

  &__image {
    @media screen and (orientation: landscape) and (max-width: 992px) {
      img {
        max-height: 300px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-breakpoint('lg') {
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &--base {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include media-breakpoint('lg') {
      width: 50%;
    }
  }

  &__inner {
    padding-top: $spacing--md;
    position: relative;
    z-index: 1;

    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      text-transform: uppercase;

      @include media-breakpoint('lg') {
        gap: 2rem;
        font-size: 20px;
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
