.cta-banner {
    color: $pf-off-white;

   &__content {
    padding-top: rem(66);
    padding-bottom: rem(66);
    display: grid;
    align-items: end;
    grid-template-columns: 3fr 1fr;
    gap: 4rem;
   }
}