.hero-fp {
  position: relative;
  height: 100%;
  margin-top: -$header-height-mobile - 1;

  @include media-breakpoint('lg') {
    margin-top: -$header-height-desktop - 1;
  }

  &__top {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint('md') {
      min-height: 60vh;
    }

    @include media-breakpoint('lg') {
      min-height: 70vh;
    }
  }

  &__mid {
    padding: 1rem;
    background: $pf-yellow;
    position: relative;
    margin-bottom: $spacing--lg;
    z-index: 2;
    text-align: center;

    &__slider {
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      @include media-breakpoint('md') {
        width: 350px;
      }

      @include media-breakpoint('lg') {
        width: 500px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          $pf-yellow -25%,
          transparent 50%,
          $pf-yellow 125%
        );
        pointer-events: none;
      }

      &__item {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.08px;

        @include media-breakpoint('lg') {
          font-size: 26px;
        }
      }
    }

    &__vector {
      position: absolute;
      bottom: -34px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__bottom {
    .button {
      margin-top: $spacing--md;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: '';
      background: rgba(38, 38, 38, 0.5);
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__title {
    position: relative;
    z-index: 3;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
      margin-top: $spacing--md;
      text-transform: initial;
      color: $pf-white;
      text-align: center;
    }
  }
}

.highlight {
  font-family: $font--fun;
}
