.results {
  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__tab {
    overflow: hidden;
    width: 50%;
    background-color: $pf-secondary-raspberry;
    padding: 1rem;

    @include media-breakpoint('lg') {
      padding: 2rem;
    }

    &.active {
      background-color: $pf-raspberry;
      color: $pf-white;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-family: $font--primary;

      @include media-breakpoint('lg') {
        font-size: $size--xl;
      }
    }
  }

  &__team {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    padding-bottom: $spacing--xl;

    /* Go from zero to full opacity */
    @keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__content {
    &__title {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .football-team__latest__last {
    text-transform: uppercase;
    p {
      font-weight: 600;
    }
  }

  .football-team__latest__content {
    @include media-breakpoint('lg') {
      margin: 0 auto;
    }
  }
}
