@import 'scss/global.scss';


.editor-styles-wrapper {
     padding-left: 2rem !important;
     padding-right: 2rem !important;

     .block-editor-block-list__block {
          margin: 0 auto;
          padding: 1rem 0;
     }
}

.acf-field-cta-banner-colour-picker-colour {

     ul.acf-radio-list {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          margin-left: 0;

          li {
               margin-right: 0;
               display: flex;

               label {
                    width: 28px;
                    height: 28px;
                    position: relative;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    color: #fff;

                    input[type="radio"] {
                         position: absolute;
                         top: 0;
                         left: 0;
                         width: 28px;
                         height: 28px;

                         &:checked {

                              &::before {
                                   content: "\f15e";
                                   font-family: dashicons;
                                   width: 20px;
                                   height: 20px;
                                   background-color: transparent;
                                   font-size: 20px;
                                   margin: 1px;
                                   color: #fff;
                              }
                         }

                         // override light colors with a black checkmark when checked (default is white)
                         &[value="white"],
                         &[value="off-white"] {

                              &:checked {

                                   &::before {
                                        color: #000;
                                   }
                              }
                         }

                         @each $name,
                         $color in $colors {

                              &[value="#{$name}"] {
                                   background-color: $color;
                              }
                         }
                    }
               }
          }
     }
}