.card-row {
    &__grid {
        display: flex;
        flex-direction: column;
        gap: $spacing--lg;

        @include media-breakpoint('sm') {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media-breakpoint('lg') {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    &__item {
        text-align: center;

        @include media-breakpoint('sm') {
            flex: 0 0 45%;
        }

        @include media-breakpoint('lg') {
            flex: 1;
        }

        &__image {
            border-radius: 4px;
            height: 250px;
            object-fit: cover;
            width: 100%;
        }

        .button {
            margin-top: $spacing--xs;
        }
    }
}