.custom-grid {
    .body {
        margin-bottom: $spacing--md;
        text-align: center;
    }

    &__content {
        width: 100%;

        &--default {
            display: grid;
            grid-gap: 2rem;

            @include media-breakpoint('md') {
                margin-top: $spacing--lg;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: $spacing--xl;
                justify-items: center;

            }
        }

        &--icons,
        &--combined {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            gap: $spacing--sm;

            @include media-breakpoint('md') {
                margin-top: $spacing--lg;
            }

            &:has(> :nth-child(2):last-child),
            &:has(> :nth-child(3):last-child) {
                @include media-breakpoint('md') {
                    gap: $spacing--xl;
                }
            }

            >* {
                flex: 1 1 100%;
                max-width: 100%;

                @include media-breakpoint('sm') {
                    flex-basis: calc(50% - #{$spacing--sm});
                    max-width: calc(50% - #{$spacing--sm});
                }

                @include media-breakpoint('md') {
                    flex-basis: calc(33.333% - #{$spacing--sm});
                    max-width: calc(33.333% - #{$spacing--sm});
                }

                @include media-breakpoint('lg') {
                    flex-basis: calc(25% - #{$spacing--sm});
                    max-width: calc(25% - #{$spacing--sm});
                }
            }
        }

        &--combined {
            @include media-breakpoint('md') {
                row-gap: $spacing--lg;
            }
        }
    }

    &__stat {
        text-align: center;
        margin-top: 2rem;
        &>* {
            font-weight: bold;
            text-transform: uppercase;
        }

        &__number {
            color: $pf-charcoal;
            font-size: rem(60);
            margin-bottom: $spacing--sm;
        }
    }

    &__icon {
        width: 100%;
        max-width: 120px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    &__combined {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: $spacing--md;
    }

}