.divider {
    height: 30px;
    background-repeat: repeat-x;
    background-size: cover;

    @include media-breakpoint(md) {
        height: 45px;
        background-size: contain;

    }

    &__green {
        background-image: url(../../../images/allTheGreens.png);
    }

    &__everything {
        background-image: url(../../../images/bitOfEverything.png);
    }

    &__yellow {
        background-image: url(../../../images/mellowYellow.png);
    }
}