.form-block {
    &.bg--yellow {

        button[value='wpforms-submit'],
        button[type='submit'],
        .button {
            background-color: $pf-charcoal !important;
            color: $pf-white !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-white !important;
                color: $pf-charcoal !important;
                border-color: $pf-charcoal !important;
            }
        }
    }

    &.bg--charcoal {
        button[value='wpforms-submit'],
        button[type='submit'],
        .button {
            background-color: $pf-white !important;
            color: $pf-charcoal !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-charcoal !important;
                color: $pf-white !important;
                border-color: $pf-white !important;
            }
        }
    }

    &.bg--dark-green {

        button[value='wpforms-submit'],
        button[type='submit'],
        .button {
            background-color: $pf-white !important;
            color: $pf-dark-green !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-dark-green !important;
                color: $pf-white !important;
                border-color: $pf-white !important;
            }
        }
    }

    &.bg--raspberry {
        button[value='wpforms-submit'],
       .button {
            background-color: $pf-white !important;
            color: $pf-raspberry !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                border-color: $pf-white !important;
                background-color: $pf-raspberry !important;
                color: $pf-white !important;
            }
        }
    }

    &.bg--dark-raspberry {
        button[value='wpforms-submit'],
       .button {
            background-color: $pf-white !important;
            color: $pf-dark-raspberry !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                border-color: $pf-white !important;
                background-color: $pf-dark-raspberry !important;
                color: $pf-white !important;
            }
        }
    }

    &.bg--raspberry,
    &.bg--charcoal,
    &.bg--dark-green,
    &.bg--dark-raspberry {
        input {
            color: $pf-white !important;
            border-bottom-color: $pf-white !important;

            &::placeholder {
                color: $pf-white !important;
            }
        }
    }

    #mc_embed_signup_scroll {
        h2 {
            display: none;
        }
    }

    input {
        border-bottom-width: 4px !important;

        &::placeholder {
            text-transform: uppercase !important;
        }
    }

    label {
        text-transform: uppercase;
        font-weight: 500;
    }

    @include media-breakpoint('lg') {
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 40%;

            object-fit: cover;
            object-position: center;
        }

        &__content {
            display: flex;
            justify-content: flex-end;

            &__body {
                padding-left: $spacing--lg;
                width: 60%;
            }
        }
    }

    .title {
        text-align: center;

        @include media-breakpoint('lg') {
            text-align: left;
        }
    }

    &__body {
        text-align: center;

        @include media-breakpoint('lg') {
            text-align: left;
        }
    }
}