.form-block {
    &.bg--yellow {

        button[value='wpforms-submit'],
        button[type='submit'],
        input[value='Submit'],
        .button {
            background-color: $pf-charcoal !important;
            color: $pf-white !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-white !important;
                color: $pf-charcoal !important;
                border-color: $pf-charcoal !important;
            }
        }

        .wpcf7-response-output {
            color: $pf-charcoal !important;
            border-color: $pf-charcoal !important;
        }
    }

    &.bg--charcoal {
        button[value='wpforms-submit'],
        button[type='submit'],
        input[value='Submit'],
        .button {
            background-color: $pf-white !important;
            color: $pf-charcoal !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-charcoal !important;
                color: $pf-white !important;
                border-color: $pf-white !important;
            }
        }

        .wpcf7-response-output {
            color: $pf-white !important;
            border-color: $pf-white !important;
        }
    }

    &.bg--dark-green {

        button[value='wpforms-submit'],
        button[type='submit'],
        input[value='Submit'],
        .button {
            background-color: $pf-white !important;
            color: $pf-dark-green !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                background-color: $pf-dark-green !important;
                color: $pf-white !important;
                border-color: $pf-white !important;
            }
        }

        .wpcf7-response-output {
            color: $pf-white !important;
            border-color: $pf-white !important;
        }
    }

    &.bg--raspberry {
        button[value='wpforms-submit'],
        input[value='Submit'],
       .button {
            background-color: $pf-white !important;
            color: $pf-raspberry !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                border-color: $pf-white !important;
                background-color: $pf-raspberry !important;
                color: $pf-white !important;
            }
        }

        .wpcf7-response-output {
            color: $pf-white !important;
            border-color: $pf-white !important;
        }
    }

    &.bg--dark-raspberry {
        button[value='wpforms-submit'],
        input[value='Submit'],
       .button {
            background-color: $pf-white !important;
            color: $pf-dark-raspberry !important;
            border: 1px solid transparent !important;

            &:hover,
            &:focus {
                border-color: $pf-white !important;
                background-color: $pf-dark-raspberry !important;
                color: $pf-white !important;
            }
        }

        .wpcf7-response-output {
            color: $pf-white !important;
            border-color: $pf-white !important;
        }
    }

    &.bg--raspberry,
    &.bg--charcoal,
    &.bg--dark-green,
    &.bg--dark-raspberry {
        input,
        textarea {
            color: $pf-white !important;
            border-bottom-color: $pf-white !important;

            &::placeholder {
                color: $pf-white !important;
            }
        }
    }

    &.contact {
      height: 1215px;
    }

    input[type='submit'] {
        @extend .button;
        @extend .button--primary;
    }

    input:not([type='submit']) {
        border: none;
        background: none;
        border-bottom: 4px solid $pf-charcoal;
        padding-left: 0.5rem;
        width: 100%;
        margin-top: 0.25rem;

        &::placeholder {
            text-transform: uppercase !important;
        }
    }

    span.mc4wp-checkbox {
        label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        input[type='checkbox'] {
            width: fit-content;
            margin-right: 0.5rem;
        }
    }

    label {
        text-transform: uppercase;
        font-weight: 500;
    }

    textarea {
        border: none;
        background: none;
        border-bottom: 4px solid $pf-charcoal;
        padding-left: 0.5rem;
        width: 100%;
        height: 100px;
        margin-top: 0.25rem;
    }

    &__default-img {
        display: none;
    }

    &__content {
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include media-breakpoint('lg') {
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 40%;

            object-fit: cover;
            object-position: center;
        }

        &__content {
            display: flex;
            justify-content: flex-end;

            &__body {
                padding-left: $spacing--lg;
                width: 60%;
                align-items: flex-start;
            }
        }

        &__default-img {
            display: block;
            img {
                object-fit: contain;
            }
        }
    }

    &__form {
        width: 100%;
        max-width: 400px;

        @include media-breakpoint('sm') {
            width: 400px;
        }

        small {
            margin-bottom: 1rem;
            display: block;
        }
    }

    .title {
        text-align: center;

        @include media-breakpoint('lg') {
            text-align: left;
        }
    }

    &__body {
        text-align: center;

        @include media-breakpoint('lg') {
            text-align: left;
        }
    }

    .wpcf7-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
