.section--timeline {
    position: relative;
    overflow-x: hidden;

    .container {
        overflow-x: visible;
    }

    .timeline {

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint('md') {
                flex-direction: row;
            }
        }

        &__slider {
            position: relative;
            margin-bottom: $spacing--lg;
        }

        &__cards-wrapper {
            width: 100%;

            .embla.timeline__slider {
                max-width: 100%;
            }
        }

        &__line {
            border-bottom: 1px dashed $pf-charcoal;
            margin-bottom: 1rem;
        }
    }

    .embla__container {
        display: flex;

        .embla__slide {
            position: relative;

            min-width: 90%;

            padding-right: 2rem;
            padding-bottom: 2rem;

            border-bottom: 1px dashed rgba(160, 160, 160, 0.9);
            margin-bottom: 1rem;

            @include media-breakpoint('md') {
                min-width: 45%;
                padding-right: 4rem;
            }

            @include media-breakpoint('lg') {
                padding-right: 8rem;
                min-width: 35%;
            }

            &::before {
                content: "";
                position: absolute;
                border: 1px solid $pf-raspberry;
                border-radius: 50px;
                background-color: white;
                height: 0.8rem;
                width: 0.8rem;
                bottom: -7px;
            }

            &::after {
                content: "";
                position: absolute;
                border-radius: 50px;
                background-color: white;
                height: 0.4rem;
                width: 0.4rem;
                bottom: -0.2rem;
                left: 0.20rem;
            }

            &.active {
                border-bottom: 1px dashed $pf-raspberry;

                &::before {
                    opacity: 1;
                }

                &::after {
                    background-color: $pf-raspberry;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }

    .embla__dots {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .embla__buttons {
        position: absolute;
        bottom: -1.5rem;
        left: 40%;
        transform: translateX(-40%);
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 12rem;
        height: 1rem;

        @include media-breakpoint('md') {
            left: 50%;
            transform: translateX(-50%);
            bottom: -2.5rem;
        }

        .embla__button {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: none;
            background-color: transparent;

            width: 1rem;
            height: 1rem;

            &.embla__button--next {
                background-image: url("../../../images/icons/chevron_right_charcoal.svg");
            }

            &.embla__button--prev {
                background-image: url("../../../images/icons/chevron_left_charcoal.svg");
            }

            &[disabled] {
                transition: opacity 0.2s;
                opacity: 0.2;
            }
        }

    }
}